*, *::after, *::before {
    font-family: Inter, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

li, a{
    text-decoration: none;
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between; /*line*/
    background: rgba(255, 0, 0, 0.27);
    padding: 0 30px;
    height: 50px;
}

.navbar > ul {
    display: flex;
    align-items: center; /*column*/
    position: relative;
}
.navbar > ul > li {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-inline: 10px;
}
.logo {
    display: flex;
    align-items: center;
}

.sub-menu {
    background-color: aqua;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 200px;
}
.navbar > ul > li:hover .sub-menu{
    display: block;
}

.hover-elt{
    width: 70px;
    background: rgba(27, 58, 255, 0.73);
    position: absolute;
    top: 5px;
    bottom: 5px;
    transition: .1s ease-in-out all;
    border-radius: 10px;
}